Repository niall-byrne/ansible-workbench: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-lint, toml-lint, yaml-lint

shell-lint:
  name: shell-lint
  description: Lint the project's shell scripts.
  entry: shellcheck
  language: system
  pass_filenames: true
  stages:
  - commit

toml-lint:
  name: toml-lint
  description: Lint the project's TOML files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/toml-lint.sh
  language: system
  stages:
  - commit
  pass_filenames: true

yaml-lint:
  name: yaml-lint
  description: Lint the project's YAML files.
  entry: ./{{cookiecutter.project_slug}}/.pre-commit/yaml-lint.sh
  args:
  - -c
  - ./{{cookiecutter.project_slug}}/.yamllint.yml
  language: system
  pass_filenames: true
  stages:
  - commit

ci(GITHUB): replace push action
  .github/scripts/test_push.sh
  .github/workflows/self-test.yml
Due: shell-lint, yaml-lint

ci(GITHUB): switch to conventional-changelog-cli
  {{cookiecutter.project_slug}}/.github/scripts/changelog.sh
Due: none

ci(GITHUB): centralize configuration for end-user
  .github/workflows/self-test.yml
  cookiecutter.json
  {{cookiecutter.project_slug}}/.github/config/actions/gaurav-nelson-github-action-markdown-link-check.json
  {{cookiecutter.project_slug}}/.github/config/workflows/push.json
  {{cookiecutter.project_slug}}/.github/scripts/workflow_json_value.sh
  {{cookiecutter.project_slug}}/.github/workflows/push.yml
  {{cookiecutter.project_slug}}/.github/workflows/release.yml
Due: yaml-lint

build(POETRY): use commitizen to bump
  pyproject.toml
  {{cookiecutter.project_slug}}/pyproject.toml
Due: toml-lint

ci(GITHUB): test remote workflow
  .github/workflows/.job-00-start.yml
  .github/workflows/.job-00-success.yml
  .github/workflows/workflow-template-test.yml
Due: yaml-lint

docs(README): restructure, expand further
  README.md
  pyproject.toml
Due: toml-lint

ci(GITHUB): refactor outer workflow
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/job-60-prune-test-releases.sh
  .github/scripts/job-60-test-push.sh
  .github/scripts/task-render-template.sh
  .github/scripts/task-template-requirements.sh
  .github/scripts/workflow-setup-environment.sh
  .github/workflows/.job-00-start.yml
  .github/workflows/.job-00-success.yml
  .github/workflows/.job-10-security.yml
  .github/workflows/.job-30-documentation.yml
  .github/workflows/.job-40-molecule.yml
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-60-remote-push.yml
  .github/workflows/.job-80-commit-lint.yml
  .github/workflows/.job-80-shell-lint.yml
  .github/workflows/.job-80-toml-lint.yml
  .github/workflows/.job-80-yaml-lint.yml
  .github/workflows/.job-99-create-release.yml
  .github/workflows/self-test.yml
  .github/workflows/workflow-template-test.yml
  cookiecutter.json
  {{cookiecutter.project_slug}}/.github/scripts/release_candidate.sh
  {{cookiecutter.project_slug}}/.github/scripts/setup.sh
  {{cookiecutter.project_slug}}/.github/workflows/push.yml
Due: shell-lint, yaml-lint

ci(GITHUB): add workflow linting
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/task-render-template.sh
  .github/workflows/.job-50-precommit.yml
  .github/workflows/.job-60-remote-push.yml
  .github/workflows/.job-80-workflow-lint.yml
  .github/workflows/.job-80-yaml-lint.yml
  .github/workflows/workflow-template-test.yml
  .pre-commit-config.yaml
  cookiecutter.json
  scripts/test.sh
  {{cookiecutter.project_slug}}/.github/workflows/.job-80-workflow-lint.yml
  {{cookiecutter.project_slug}}/.github/workflows/workflow-push.yml
  {{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: shell-lint, yaml-lint

build(POETRY): upgrade ansible to 8.x.x series
  {{cookiecutter.project_slug}}/pyproject.toml
  {{cookiecutter.project_slug}}/requirements.yml
Due: toml-lint

docs(README): update to reflect changes
  README.md
  {{cookiecutter.project_slug}}/README.md
Due: none

refactor(MOLECULE): prefer ansible_become_password
  {{cookiecutter.project_slug}}/molecule/default/molecule.yml
  {{cookiecutter.project_slug}}/molecule/hostmachine1/molecule.yml
Due: none

build(GALAXY): remove example role/collection
  {{cookiecutter.project_slug}}/requirements.yml
Due: none

style(YAMLLINT): ensure octal values are quoted
  {{cookiecutter.project_slug}}/.yamllint.yml
Due: none

bump(RELEASE): 0.1.6 → 0.2.0
  pyproject.toml
Due: toml-lint

build(POETRY): restrict ansible-core version
  {{cookiecutter.project_slug}}/pyproject.toml
Due: toml-lint

build(GALAXY): dependency changes for ansible core
  {{cookiecutter.project_slug}}/pyproject.toml
  {{cookiecutter.project_slug}}/requirements.yml
Due: toml-lint

docs(README): deprecation notice
  README.md
Due: none

Path conditions:
  shell-lint: any of: ^.+\.sh$, but not: ^{{cookiecutter.project_slug}}/.+$
  toml-lint: any of: ^.+\.toml$
  yaml-lint: any of: ^.+\.(yaml|yml)$, but not: ^{{cookiecutter.project_slug}}/.+$
